main.product__info
  form
    fieldset
      article(itemprop="offers" itemscope itemtype="http://schema.org/Offer")
        span.product__price.ch-price(itemprop="price") 3741
          meta(itemprop="priceCurrency", content="BRL")
          sup 79

      .product__quantity
        label(for="quantity") quantity
        select
          - var i = 1;
          while i < 4
            option= i++

      .product__payments
        label(for="payments") payments
        select
          - var n = 1;
          while n <= 12
            option= n++
      .product__call-to-action
        input.ch-btn.ch-btn-large(type='button', value='Buy')
        .product__notice MercadoLivre isn't the owner of this product

  h2 More products like this
  .related-products__carousel.ch-carousel(itemprop="isRelatedTo")
    ul
      - var z = 1;
      while z <= 10
        li.related-products__item.ch-carousel-item(aria-hidden='false', aria-setsize='18', aria-posinset=(z), aria-label='page')
          img(src='http://placehold.it/100x100')
          - z++
