ul.tabs(role='tablist')
  li
    input#tab1(type='radio', name='tabs', checked='')
    label.ch-tab(for='tab1', role='tab', aria-selected='true', aria-controls='panel1', tabindex='0') Product description
    #tab-content1.ch-box-lite.ch-tabs-panel.tab__content(role='tabpanel', aria-labelledby='Product description', aria-hidden='false')
      p
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  li
    input#tab2(type='radio', name='tabs')
    label.ch-tab(for='tab2', role='tab', aria-selected='false', aria-controls='panel2', tabindex='0') Questions
    #tab-content2.ch-box-lite.ch-tabs-panel.tab__content(role='tabpanel', aria-labelledby='Questions', aria-hidden='true')
      ul.question__list
        li.question__item
          article
            span.question__author.question__author--buyer Buyer
            .question__comment.question__comment--buyer Do you have this one in white?

        li.question__item
          article
            span.question__author.question__author--buyer Seller
            .question__comment.question__comment--buyer No I don't, I only have black
