doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Gulp Jade Bourbon Neat Boilerplate
    link(rel='stylesheet', href='css/main.css')
    link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='images/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')
    meta(name='theme-color', content='#373D49')
  body
    h1 Hello Pug!
    .demo-carousel.ch-carousel
      ul
        li
          img(src='http://lorempixel.com/500/201/')
        li
          img(src='http://lorempixel.com/500/201/')

    button.btn ah
    script(src='js/app.js')
