doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Product Page
    link(rel='stylesheet', href='css/main.css')
    link(rel='icon', type='image/png', sizes='32x32', href='images/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='images/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='images/favicon-16x16.png')
    meta(name='theme-color', content='#373D49')
  body
    .product__container
      .ch-box-lite.product__box
        h1 Ipad Mini Apple 16Gb Wifi Led 7.9

        .product__image
          img(src='http://placehold.it/500x500')

        include _product-info

        include _tabs

    script(src='js/app.js')
