.product {
  &__title {
    @include pad(10px 0 0 20px);
  }

  &__container {
    @include outer-container;
    @include pad(10px);
  }

  &__box {
    @include span-columns(12 of 12);
    @include pad(20px);
  }

  &__image,
  &__info {
    @include span-columns(6 of 12);
    @include omega();
    @include pad();
  }

  &__price {
    @include pad(10px 0);
    font-size: 2.2rem;
    line-height: 1;

    &::before { content: "R$ "}

    sup {
      font-size: 1.2rem;
      vertical-align: text-top;
      line-height: 1.5;
    }
  }

  &__notice {
    margin: 5px 0 10px 0;
    color: lighten($black, 50%);
    font-size: 12px;
  }

  &__quantity,
  &__payments,
  &__call-to-action {
    @include pad(14px 0);
    display: block;

    label {
      min-width: 70px;
      display: inline-block;
    }
  }
}
