.question {
  &__list {
    @include span-columns(12 of 12);
    list-style: none;
    padding: 0;
  }

  &__item {
    @include span-columns(12 of 12);
    @include omega();
    @include pad(10px);
  }

  &__author {
    font-size: 1.1rem;
    &--buyer { color:  darken($buyer-color, 40%); }
    &--seller { color: darken($seller-color, 40%); }
  }

  &__comment {
    padding: 10px;

    &--buyer {
      color: darken($buyer-color, 40%);
      background:  $buyer-color;
    }
    &--seller {
      color: darken($seller-color, 40%);
      background: $seller-color;
    }
  }

}
