.related-products {
  &__carousel {
    white-space: nowrap;
  }

  &__item {
    padding: 5px;
    width: 150px;
    height: 150px;


    img { width: 100%; }
    //width:243px;
    //height:292.407px;
    //margin-right:3px;
  }
}
