$max-tab-count: 2;

.tab {
  display: none;

  @for $i from 1 through $max-tab-count {
    &:checked:nth-of-type(#{$i}) ~ .tab__content:nth-of-type(#{$i}) {
      opacity: 1;
      position: relative;
      text-shadow: 0 0 0;
      top: 0;
      transform: translateY(0px);
      transition: 0.5s opacity ease-in, 0.8s transform ease;
      z-index: 100;
    }
  }

  &:checked + label {
    @include linear-gradient(#f0f0f0, #fff);
    border-bottom: 1px solid #fff;
    cursor: default;
    font-weight: bold;
    box-shadow: 2px 0 2px rgba(255, 255, 255, 0.5);
  }

  + label {
    display: inline-block;
    z-index: 200;

    &:hover {
      background: #f0f0f0;
    }
  }

  &__content {
    border-radius: 0 0 5px 5px;
    left: 0;
    margin-top: -1px;
    opacity: 0;
    position: absolute;
    transform: translateY(-3px);
    width: 100%;
    z-index: -1;
  }

  &__container {
    @include display(flex);
    @include transition(all .3s ease);
    flex-wrap: wrap;
    list-style: none;
    max-width: 100%;
    position: relative;
  }
}
